doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.nav
			p
				a(href='#') video
				a(href='#') news
				a(href='#') sports
		#content
			block content
		.footer