body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#content{
	width: 1200px;
	margin: 0 auto;
}
#content .item{
	display: inline;
	padding: 10px;
}
#content .item a{
	width: 200px;
	height: 110px;
	display: inline-block;
}
#content .item img{
	width: 100%;
}